@model IEnumerable<UI.Models.Apartment>

@{
    ViewBag.Title = "API";
    var apartments = (UI.Models.ApartmentList)ViewData["apartments"] ?? new UI.Models.ApartmentList();
}

<h2>API</h2>

<form method="post" asp-action="API">    
    <input type="text" id="apartmentName" name="apartmentName" placeholder="Enter apartment name"/>
    <button class="btn btn-primary " type="submit">SUBMIT</button>
</form>

@if (apartments.Apartments != null && apartments.Apartments.Count > 0)
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IDApartment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bedrooms)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bathrooms)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CanSleepMax)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.From)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.From_ShortDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.To)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.To_ShortDate)
            </th>
            <th></th>
        </tr>

        @foreach (var item in apartments.Apartments)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IDApartment)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Bedrooms)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Bathrooms)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CanSleepMax)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.From)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.From_ShortDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.To)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.To_ShortDate)
                </td>
            </tr>
        }


    </table>
}
